div.chart1 {
    width: 200px;
    height: 100px;
}
*{
    font-family: 'Roboto';
    font-weight:bold;
    overflow-x: none;
}


.container {
    display: grid;
    height: 100vh;
    max-width:100vw;
    gap: 20px;
    background-color:#F5F5F5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
    "menu header header header header"
    "menu card1 card2 card3 cardFaixa"
    "menu cardG cardG cardG cardFaixa"
    "menu caixa caixa caixa caixa"
    "footer footer footer footer footer";
    
}


.menu{
    background-color: #000000;
    grid-area: menu;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.header {
    background-color: rgb(255, 255, 255);
    grid-area: header;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.card1{
    background-color: rgb(88, 87, 87);
    grid-area: card1;
    border-radius: 10px;
    padding: 15px;
    
}

.card2 {
    background-color: rgb(88, 87, 87);
    grid-area: card2;
    border-radius: 10px;
     padding: 15px;
}

.card3 {
    background-color:  rgb(88, 87, 87);
    grid-area: card3;
    border-radius: 10px;
     padding: 15px;
}

.cardFaixa {
    background-color: rgb(255, 255, 255);
    grid-area: cardFaixa;
    border-radius: 10px;
   

}

.cardG {
    background-color: rgb(255, 255, 255);
    grid-area: cardG;
    border-radius: 10px;
}
.caixa {
    background-color: rgb(255, 255, 255);
    grid-area: caixa;
    border-radius: 10px;
}

.footer {
    background-color: #000000;
    grid-area: footer;
}

.divIcone {
    width: 40px;
    height: 40px;
    background-color: #25C935;
    border-radius: 5px;;
}

.caixaIcone {
    width: 200px;
    height: 50px;
    background-color: rgb(68, 67, 67);
    border-radius: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divIcone2 {
    width: 40px;
    height: 40px;
    background-color: #292e2a;
    border-radius: 50%;
}

