*{
    font-family: 'Clash Display SemiBold';
    overflow-x: none;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
   
}
@media (min-width: 2000px) {
    .container {
    display: grid;
    height: 130vh;
    max-width:100vw;
    width: 100%;
    gap: 20px;
    max-height: 150%;
    background-color:#dadadaec;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-areas:
    "menu header header header header"
    "menu card1 card2 card3 cardFaixa"
    "menu cardG cardG cardG cardFaixa"
    "menu caixa caixa caixa caixa"
    "footer footer footer footer footer";
    
}


.menu{
    background-color: #000000;
    grid-area: menu;
    border-radius: 10px;
    display: flex;
    justify-content: space-around ;
    align-items:center;
    gap: 5px;
    flex-direction: column;
    padding: 10px;
}
.header {
    background-color: rgb(255, 255, 255);
    grid-area: header;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.card1{
    background-color: rgb(88, 87, 87);
    grid-area: card1;
    border-radius: 10px;
    padding: 15px;
    
}

.card2 {
    background-color: rgb(88, 87, 87);
    grid-area: card2;
    border-radius: 10px;
     padding: 15px;
}

.card3 {
    background-color:  rgb(88, 87, 87);
    grid-area: card3;
    border-radius: 10px;
     padding: 15px;
}

.cardFaixa {
    background-color: rgb(255, 255, 255);
    grid-area: cardFaixa;
    border-radius: 10px;
   

}

.cardG {
    background-color: rgb(255, 255, 255);
    grid-area: cardG;
    border-radius: 10px;
    padding: 10px;
}
.caixa {
    background-color: rgb(255, 255, 255);
    grid-area: caixa;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
}

.footer {
    background-color: #000000;
    grid-area: footer;
}

.divIcone {
    width: 40px;
    height: 40px;
    background-color: #25C935;
    border-radius: 5px;;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.divIcone i{
    font-size: 30px;
}

.caixaIcone {
    width: 200px;
    height: 50px;
     background-color: rgb(0, 0, 0); /*rgb(68, 67, 67)  */ 
    border-radius: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.divIcone2 {
    width: 40px;
    height: 40px;
    background-color: #292e2a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaIcone2 {
    width: 250px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    
}

.caixaIcone3 {
    width: 250px;
    height: 50px;
     background-color: rgb(0, 0, 0); /*rgb(68, 67, 67) */
    border-radius: 5px;
    gap: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.textoHeader {
    display: flex;
    padding: 5px;
    gap: 5px;
    width: 250px;
    height: 30px;
    align-items: center;

}

.p1 {
    color: rgb(224, 224, 224);
    font-size: 23px;
}

.texto {
    display: flex;
    padding: 5px;
    gap: 50px;
    width: 100%;
    height: 40px;
    align-items: center;
}

.card1:hover, .card2:hover, .card3:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
    transition: 0.3s;
}
}


/* INICIO MAX */

@media (max-width: 1999px) {
.container {
    display: grid;
    height: 130vh;
    max-width:100vw;
    width: 100%;
    gap: 20px;
    max-height: 150%;
    background-color:#dadadaec;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-areas:
    "menu header header header header"
    "menu card1 card2 card3 cardFaixa"
    "menu cardG cardG cardG cardFaixa"
    "menu caixa caixa caixa caixa"
    "footer footer footer footer footer";
    
}


.menu{
    background-color: #000000;
    grid-area: menu;
    border-radius: 10px;
    display: flex;
    justify-content: space-around ;
    align-items:center;
    gap: 5px;
    flex-direction: column;
    padding: 10px;
}
.header {
    background-color: rgb(255, 255, 255);
    grid-area: header;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.card1{
    background-color: rgb(88, 87, 87);
    grid-area: card1;
    border-radius: 10px;
    padding: 15px;
    
}

.card2 {
    background-color: rgb(88, 87, 87);
    grid-area: card2;
    border-radius: 10px;
     padding: 15px;
}

.card3 {
    background-color:  rgb(88, 87, 87);
    grid-area: card3;
    border-radius: 10px;
     padding: 15px;
}

.cardFaixa {
    background-color: rgb(255, 255, 255);
    grid-area: cardFaixa;
    border-radius: 10px;
   

}

.cardG {
    background-color: rgb(255, 255, 255);
    grid-area: cardG;
    border-radius: 10px;
    padding: 10px;
}
.caixa {
    background-color: rgb(255, 255, 255);
    grid-area: caixa;
    border-radius: 10px;
    padding: 15px;
    gap: 5px;
}

.footer {
    background-color: #000000;
    grid-area: footer;
}

.divIcone {
    width: 40px;
    height: 40px;
    background-color: #25C935;
    border-radius: 5px;;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.divIcone i{
    font-size: 30px;
}

.caixaIcone {
    width: 200px;
    height: 50px;
     background-color: rgb(0, 0, 0); /*rgb(68, 67, 67)  */ 
    border-radius: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.divIcone2 {
    width: 40px;
    height: 40px;
    background-color: #292e2a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaIcone2 {
    width: 250px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    
}

.caixaIcone3 {
    width: 250px;
    height: 50px;
     background-color: rgb(0, 0, 0); /*rgb(68, 67, 67) */
    border-radius: 5px;
    gap: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.textoHeader {
    display: flex;
    padding: 5px;
    gap: 5px;
    width: 250px;
    height: 30px;
    align-items: center;

}

.p1 {
    color: rgb(224, 224, 224);
    font-size: 22px;
}

.texto {
    display: flex;
    padding: 5px;
    gap: 50px;
    width: 100%;
    height: 40px;
    align-items: center;
}

.card1:hover, .card2:hover, .card3:hover {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
    transition: 0.3s;
} 
}